# Practice PS06: Recommendations engines (interactions-based)

For this assignment we will build and apply an item-based and model-based collaborative filtering recommenders for movies.

Author: <font color="blue">Nil Tomàs Plans</font>

E-mail: <font color="blue">nil.tomas01@estudiant.upf.edu</font>

Date: <font color="blue">10/11/2024</font>

# 1. The Movies dataset

# 1.1. Load the input files

In [1]:
# Leave this code as-is

import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from math import*
from scipy.sparse.linalg import svds
from sklearn.metrics.pairwise import linear_kernel

In [2]:
# Leave this code as-is

FILENAME_MOVIES = "movies-2000s.csv"
FILENAME_RATINGS = "ratings-2000s.csv"
FILENAME_TAGS = "tags-2000s.csv"

In [3]:
# Leave this code as-is

movies = pd.read_csv(FILENAME_MOVIES, 
                    sep=',', 
                    engine='python', 
                    encoding='latin-1',
                    names=['movie_id', 'title', 'genres'])
display(movies.head(5))

ratings_raw = pd.read_csv(FILENAME_RATINGS, 
                    sep=',', 
                    encoding='latin-1',
                    engine='python',
                    names=['user_id', 'movie_id', 'rating'])
display(ratings_raw.head(5))

   movie_id                  title                     genres
0      2769      Yards, The (2000)                Crime|Drama
1      3177     Next Friday (2000)                     Comedy
2      3190       Supernova (2000)  Adventure|Sci-Fi|Thriller
3      3225     Down to You (2000)             Comedy|Romance
4      3228  Wirey Spindell (2000)                     Comedy

   user_id  movie_id  rating
0        4         1     3.0
1        4       260     3.5
2        4       296     4.0
3        4       541     4.5
4        4       589     4.0

# 1.2. Merge the data into a single dataframe

<font size="+1" color="red">Replace this cell with your code from the previous practice that joined these three dataframes using "merge" into a single dataframe named "ratings". Print the first 5 rows of the resulting dataframe, which should contain columns "user_id", "movie_id", "rating", "title", and "genres".</font>

In [4]:
ratings=pd.merge(movies, ratings_raw, on="movie_id")
display(ratings.head())

   movie_id              title       genres  user_id  rating
0      2769  Yards, The (2000)  Crime|Drama     1115     4.0
1      2769  Yards, The (2000)  Crime|Drama     1209     2.0
2      2769  Yards, The (2000)  Crime|Drama     2004     3.0
3      2769  Yards, The (2000)  Crime|Drama     2502     4.0
4      2769  Yards, The (2000)  Crime|Drama     2827     4.0

<font size="+1" color="red">Replace this cell with your code from the previous practice for "find_movies" that list movies containing a keyword</font>

In [5]:
#code from the previous practice for "find_movies" that list movies containing a keyword
def find_movies(word, movies):
    for movie in movies.to_dict('records'):#for each row in the dataframe we turn it into a dictionary 
        #to be able to access to columns more easly
        if word in movie['title']:#if word in title print results
            print("movie_id: ",movie['movie_id']," title: ",movie['title'])

In [6]:
# LEAVE AS-IS

# For testing, this should print 9 movies
find_movies("Spider-Man", movies)

movie_id:  5349  title:  Spider-Man (2002)
movie_id:  8636  title:  Spider-Man 2 (2004)
movie_id:  52722  title:  Spider-Man 3 (2007)
movie_id:  76709  title:  Spider-Man: The Ultimate Villain Showdown (2002)
movie_id:  95510  title:  Amazing Spider-Man, The (2012)
movie_id:  110553  title:  The Amazing Spider-Man 2 (2014)
movie_id:  122926  title:  Untitled Spider-Man Reboot (2017)
movie_id:  195159  title:  Spider-Man: Into the Spider-Verse (2018)
movie_id:  201773  title:  Spider-Man: Far from Home (2019)

In [7]:
# LEAVE AS-IS

def get_title(movie_id, movies):
    return movies[movies['movie_id'] == movie_id].title.iloc[0]

In [8]:
# LEAVE AS-IS

# For testing, should print "Spider-Man 2 (2004)"
print(get_title(8636, movies))

Spider-Man 2 (2004)

## 1.3. Count unique registers

<font size="+1" color="red">Replace this cell with your own code to indicate the number of unique users and unique movies in the "ratings" variable.</font>

In [9]:
#code to indicate the number of unique users and unique movies in the "ratings" variable.
users=ratings['user_id'].unique()#first we do the select of the unique values and we store them in arrays
mov=ratings['movie_id'].unique()
cont_movies=movies['movie_id'].unique()
#print the total count of values using the length of the array
print("Number of users who have rated a movie: ",len(users))
print("Number of movies that have been rated: ",len(mov))
print("Total number of movies: ", len(cont_movies))

Number of users who have rated a movie:  12676
Number of movies that have been rated:  2049
Total number of movies:  33168

# 2. Item-based Collaborative Filtering

## 2.1. Data pre-processing

<font size="+1" color="red">Replace this cell with your code to generate "rated_movies" and print the first ten rows. This should have columns user_id, movie_id, rating, title</font>

In [10]:
#code to generate "rated_movies" and print the first ten rows. This should have columns user_id, movie_id, rating, title

rated_movies=ratings.drop('genres', axis='columns')
display(rated_movies.head(10))

   movie_id              title  user_id  rating
0      2769  Yards, The (2000)     1115     4.0
1      2769  Yards, The (2000)     1209     2.0
2      2769  Yards, The (2000)     2004     3.0
3      2769  Yards, The (2000)     2502     4.0
4      2769  Yards, The (2000)     2827     4.0
5      2769  Yards, The (2000)     6629     1.0
6      2769  Yards, The (2000)    12435     4.0
7      2769  Yards, The (2000)    13873     3.0
8      2769  Yards, The (2000)    14799     3.0
9      2769  Yards, The (2000)    15691     2.5

<font size="+1" color="red">Replace this cell with your code to generate "ratings_summary" and print the first 10 rows.</font>

In [11]:
#code to generate "ratings_summary" and print the first 10 rows.

#initialize the ratings_summary
ratings_summary=rated_movies.drop(['user_id', 'rating'], axis='columns').drop_duplicates()

#Compute two series: ratings_mean and ratings_count
ratings_mean = rated_movies.groupby('movie_id')['rating'].mean()
ratings_count = rated_movies.groupby('movie_id')['user_id'].count()

#use.map(series) to add the series to the dataframe
ratings_summary['ratings_mean'] = ratings_summary['movie_id'].map(ratings_mean)
ratings_summary['ratings_count'] = ratings_summary['movie_id'].map(ratings_count)


display(ratings_summary.head(10))

      movie_id                        title  ratings_mean  ratings_count
0         2769            Yards, The (2000)      3.122549            102
102       3177           Next Friday (2000)      2.824000            125
227       3190             Supernova (2000)      2.395683            139
366       3225           Down to You (2000)      2.577273            110
476       3228        Wirey Spindell (2000)      2.500000              2
478       3239      Isn't She Great? (2000)      1.947368             19
497       3273              Scream 3 (2000)      2.444664            759
1256      3275  Boondock Saints, The (2000)      3.870682           1071
2327      3276               Gun Shy (2000)      3.338710             31
2358      3279              Knockout (2000)      2.000000              2

<font size="+1" color="red">Replace this cell with code to print the top 5 highest rated movies, considering only movies receiving at least 100 ratings.</font>

In [12]:
new_ratings=ratings_summary[ratings_summary['ratings_count']>=100]#To select from dataframe thise with more than 100 rates
sorted_ratings=new_ratings.sort_values(by='ratings_mean',ascending=False)#sort according to ratings_count
display(sorted_ratings.head())#print top-5

,movie_id,title,ratings_mean,ratings_count
242492,5618,Spirited Away (Sen to Chihiro no kamikakushi) ...,4.215216,2458
279800,6016,City of God (Cidade de Deus) (2002),4.186592,2133
103127,4226,Memento (2000),4.158512,4476
361785,7156,Fog of War: Eleven Lessons from the Life of Ro...,4.112013,308
172739,4973,"Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le)...",4.097234,3687

<font size="+1" color="red">Repeat this, but this time consider movies receiving at least 3 ratings.</font>

In [13]:
new_ratings=ratings_summary[ratings_summary['ratings_count']>=3]#To select from dataframe thise with more than 100 rates
sorted_ratings=new_ratings.sort_values(by='ratings_mean',ascending=False)#sort according to ratings_count
display(sorted_ratings.head())#print top-5

,movie_id,title,ratings_mean,ratings_count
197114,5082,"Rumor of Angels, A (2000)",4.666667,6
444858,27764,2LDK (2003),4.500000,3
464942,31954,Beautiful City (Shah-re ziba) (2004),4.400000,5
203989,5224,Promises (2001),4.388889,18
331467,6775,Life and Debt (2001),4.333333,3

<font size="+1" color="red">Replace this cell with a brief commentary, in your own words, on what happens when the number of ratings is set to a small value.</font>

<font size="+1" color="blue">After analysing the two dataframes, we can observe that when the number of ratings that movie receive is very small, when sorting on rating_mean, usually the movies in the top-5 the rating is around 4.5 . Therefore, it's not really reflecting the reality, as there can be other movies with 2000 rates that the rate_mean is a bit lower, but it may still have got more rates with higher rates than movies in the top 5 wit 6-7 rates.</font>

## 2.2. Compute the user-movie matrix

<font size="+1" color="red">Replace this cell with code to generate a "user_movie" matrix by calling "pivot_table" on "rated_movies". Print the first 5 rows. It might take about one minute to compute, depending on your computer.</font>

In [14]:

user_movie=rated_movies.pivot_table(index='user_id',columns='movie_id',values='rating')
print(user_movie.head())

movie_id  2769   3177   3190   3225   3228   3239   3273   3275   3276   \
user_id
4           NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
33          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
62          NaN    NaN    NaN    NaN    NaN    NaN    NaN    4.5    NaN
63          NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
95          NaN    NaN    NaN    NaN    NaN    NaN    NaN    3.5    NaN

movie_id  3279   ...  33138  33145  33148  33150  33152  33154  33158  33162  \
user_id          ...
4           NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
33          NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
62          NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
63          NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
95          NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

movie_id  33164  33166
user_id
4           NaN    NaN
33          NaN    NaN
62          NaN    3.5
63          NaN    NaN
95          NaN    NaN

[5 rows x 2049 columns]

<font size="+1" color="red">Replace this a brief commentary indicating why do you think the "user_movie" matrix has so many "NaN" values. How do we call this characteristic of user ratings in recommender systems?</font>

<font size="+1" color="blue">In my opinion it might be because not every user has rated all the movies. We call that the matrix is sparse because users have only rated a little group of movies inside the overall of movies  </font>

# 2.3. Explore some correlations in the user-movie matrix

<font size="+1" color="red">Replace this cell with code to compute and display the first 10 rows of the "ratings3" table as described above.</font>

In [15]:
titles=['Lord of the Rings: The Fellowship of the Ring, The (2001)','Finding Nemo (2003)','Talk to Her (Hable con Ella) (2002)']
def get_movies_id(title, movies):
    for movie in movies.to_dict('records'):#for each row in the dataframe we turn it into a dictionary 
        #to be able to access to columns more easly
        if title == movie['title']:#if title ==title of movie
            return movie['movie_id']


id_pivot=get_movies_id(titles[0],movies)
id_m1=get_movies_id(titles[1],movies)
id_m2=get_movies_id(titles[2],movies)


rates=[]
r1=user_movie[id_pivot].dropna()#rates for movie== title1
rates.append(r1)
r2=user_movie[id_m1].dropna()#rates for movie== title2
rates.append(r2)
r3=user_movie[id_m2].dropna()#rates for movie== title3
rates.append(r3)


ratings3 = pd.concat([r1, r2, r3], axis=1)
ratings3=ratings3.dropna()

print(ratings3.head(10))

         4993  6377  5878
user_id
859       3.0   4.0   5.0
1229      4.0   4.0   4.5
1281      3.0   2.5   3.0
1722      5.0   4.5   4.0
2004      4.5   3.0   3.5
4590      4.0   4.0   2.0
5052      2.0   4.0   4.0
5144      5.0   5.0   5.0
6497      3.5   3.5   3.5
8369      3.0   4.0   4.5

<font size="+1" color="red">Replace this cell with code to compute all correlations between these three movies, as described above.</font>

In [16]:
# Sample code snippet for calculating correlations between pairs of movie ratings
pairs = [[1, 2], [1, 3], [2, 3]]
for i, j in pairs:
    similarity=ratings3.iloc[:, i-1].corr(ratings3.iloc[:, j-1])
    print(f'Similarity between {titles[i-1]} and {titles[j-1]} : {similarity:.2f} ')

Similarity between Lord of the Rings: The Fellowship of the Ring, The (2001) and Finding Nemo (2003) : 0.38
Similarity between Lord of the Rings: The Fellowship of the Ring, The (2001) and Talk to Her (Hable con Ella) (2002) : 0.16
Similarity between Finding Nemo (2003) and Talk to Her (Hable con Ella) (2002) : 0.20

<font size="+1" color="red">Replace this cell with a brief commentary on the correlations you find.</font>

<font size="+1" color="blue">The correlations computed are correct. We can observe that the higher correlation between movies is between Lord of the Rings and Nemo. This could mean that usually, users that like Lord of the rings, a movie of adventure and action, may also like, or have liked nemo, an adventure movie but for a more youthful public.</font>

<font size="+1" color="red">Replace this cell with code to create a "similarity_to_pivot" series that contains the computed correlations, droping the NaNs in the series.</font>

In [17]:
#extract ratings from df_pivot
df_pivot = pd.DataFrame(user_movie[id_pivot].dropna()).rename(columns={id_pivot: "rating"})

# Compute correlation with other movies
similarity_to_pivot = []
for movie_id in user_movie.columns:
    if movie_id != id_pivot:
        df = pd.DataFrame(user_movie[movie_id].dropna()).rename(columns={movie_id: "rating"})
        corr = df_pivot.corrwith(df)[0]
        similarity_to_pivot.append([movie_id, corr])
    

#create the dataframe with both columns and drop NaN values
similarity_to_pivot = pd.DataFrame(similarity_to_pivot, columns=["movie_id", "corr_with_pivot"])
similarity_to_pivot = similarity_to_pivot.dropna()


print(similarity_to_pivot.head())

   movie_id  corr_with_pivot
0      2769        -0.127515
1      3177         0.093221
2      3190         0.041206
3      3225         0.126600
5      3239         0.338378

<font size="+1" color="red">Replace this cell with code to create a "corr_with_pivot" dataframe as specified above, and to print the 20 movies (rated 500 times or more) with the highest correlation with the selected movie.</font>

In [18]:
corr_with_pivot = pd.merge(similarity_to_pivot,ratings_summary, how='inner',on='movie_id')
#I used the function merge to merge join the two dataframes on movie_id

corr_with_pivot =corr_with_pivot[corr_with_pivot['ratings_count']>=500]#To select from dataframe thise with more than 500 rates
corr_with_pivot =corr_with_pivot.sort_values(by='corr_with_pivot',ascending=False)#sort according to ratings_count

display(corr_with_pivot.head(20))#print top-20

,movie_id,corr_with_pivot,title,ratings_mean,ratings_count
807,5952,0.892103,"Lord of the Rings: The Two Towers, The (2002)",4.083869,5449
1177,7153,0.892073,"Lord of the Rings: The Return of the King, The...",4.083960,5449
986,6539,0.377599,Pirates of the Caribbean: The Curse of the Bla...,3.779241,3950
1339,8368,0.340934,Harry Potter and the Prisoner of Azkaban (2004),3.809971,2397
55,3578,0.337667,Gladiator (2000),3.951050,4811
86,3793,0.329686,X-Men (2000),3.556436,3535
451,4896,0.319180,Harry Potter and the Sorcerer's Stone (a.k.a. ...,3.678509,2843
68,3624,0.307471,Shanghai Noon (2000),3.297443,1017
1774,31658,0.303898,Howl's Moving Castle (Hauru no ugoku shiro) (2...,4.064417,1141
591,5349,0.302174,Spider-Man (2002),3.457931,3209
768,5816,0.297661,Harry Potter and the Chamber of Secrets (2002),3.657751,2374
294,4306,0.296144,Shrek (2001),3.768787,4591
947,6365,0.289269,"Matrix Reloaded, The (2003)",3.352115,2529
1377,8636,0.289119,Spider-Man 2 (2004),3.468254,2268
935,6333,0.286127,X2: X-Men United (2003),3.611370,2146
1160,7090,0.274978,Hero (Ying xiong) (2002),3.934135,873
177,3996,0.272425,"Crouching Tiger, Hidden Dragon (Wo hu cang lon...",3.845262,2976
1169,7143,0.270891,"Last Samurai, The (2003)",3.666470,1691
958,6377,0.268611,Finding Nemo (2003),3.862284,3765
598,5378,0.267679,Star Wars: Episode II - Attack of the Clones (...,3.063167,2248

<font size="+1" color="red">Replace this cell with a brief commentary about the movies you see on this list. What happens if you set the condition on *ratings_count* to a much larger value? What happens if you set it to a much smaller value?</font>

<font size="+1" color="blue">As expected, we can observe that the movies the most correlated to pivot_id (Lord of the rings: first movie) are the other two movies of the Lord of the rings. Following we can see other movies of science-fiction and action as Pirates of th Caribbean or Harry Potter. After analysing this top-20 movies, we conclude that are very correlated because they are all action and science-fiction movies, aspect tnat users that rated high 'Lord of the rings' will be more likely to rate high similar movies. If we set the ratings_count to a smaller value, for example 5, we get movies that are not correlated on the genres to pivot_id movie, and it is just not doing it's main function, where we want to select those movies that for sure (a big part of the users) have rated high. Instead, if we set the value to a much higher value = 3000, the argument of the selection of movies are more likely to Lord of the Rings, what we were searching. </font>

# 2.4. Implement the item-based recommendations

<font size="+1" color="red">Replace this cell with your code to compute all correlations between columns (movies) in the matrix user_movie. Store this in "item_similarity", and print the first 10 rows.</font>

In [19]:
item_similarity = user_movie.corr(method='pearson')
 
# Print the first 10 rows of the resulting matrix
print(item_similarity.head(10))

movie_id     2769      3177      3190      3225   3228      3239      3273   \
movie_id
2769      1.000000  0.115068  0.033721 -0.232268    NaN -0.500000  0.197011
3177      0.115068  1.000000  0.303820  0.559533    NaN       NaN  0.331191
3190      0.033721  0.303820  1.000000  0.636361    NaN -0.014315  0.146042
3225     -0.232268  0.559533  0.636361  1.000000    NaN  0.578414  0.347716
3228           NaN       NaN       NaN       NaN    1.0       NaN       NaN
3239     -0.500000       NaN -0.014315  0.578414    NaN  1.000000  0.180846
3273      0.197011  0.331191  0.146042  0.347716    NaN  0.180846  1.000000
3275      0.199514  0.167918  0.394293  0.263671    NaN  1.000000  0.105735
3276      0.250873  1.000000 -0.290397 -0.250313    NaN       NaN  0.154371
3279           NaN       NaN       NaN       NaN    NaN       NaN       NaN

movie_id     3275      3276   3279   ...     33138     33145  33148  33150  \
movie_id                             ...
2769      0.199514  0.250873    NaN  ...  0.379980  0.878310    NaN    NaN
3177      0.167918  1.000000    NaN  ...  0.546119  0.735767   -1.0    NaN
3190      0.394293 -0.290397    NaN  ...  0.246183  0.632026    NaN    NaN
3225      0.263671 -0.250313    NaN  ... -0.300376  0.318377    NaN    NaN
3228           NaN       NaN    NaN  ...       NaN       NaN    NaN    NaN
3239      1.000000       NaN    NaN  ...       NaN       NaN    NaN    NaN
3273      0.105735  0.154371    NaN  ...  0.006774  0.409968    1.0    NaN
3275      1.000000  0.485071    NaN  ... -0.011426  0.279624    NaN    NaN
3276      0.485071  1.000000    NaN  ...       NaN  0.292770    NaN    NaN
3279           NaN       NaN    1.0  ...       NaN       NaN    NaN    NaN

movie_id  33152     33154         33158     33162     33164     33166
movie_id
2769        NaN  0.248126  1.806095e-01 -0.085570 -0.408248  0.105671
3177        NaN -0.221382  3.174747e-01  0.014735  0.661989  0.185654
3190        NaN  0.378181  1.709261e-01  0.022444 -0.073360 -0.054114
3225        NaN  0.480173  7.503063e-01  0.536828  0.753141  0.098748
3228        NaN       NaN           NaN       NaN       NaN       NaN
3239        NaN  1.000000           NaN  1.000000  0.636285  0.888200
3273        NaN  0.088405  7.516779e-02  0.143492  0.466705  0.084202
3275        NaN  0.075827  2.994603e-01  0.187713  0.285584  0.225317
3276        NaN  0.000000 -6.885311e-17 -0.455530  0.500000 -0.138013
3279        NaN       NaN           NaN       NaN       NaN       NaN

[10 rows x 2049 columns]

<font size="+1" color="red">Replace this cell with your code to compute all correlations between columns (movies) in the matrix user_movie, but considering only movies having at least 100 ratings in common. Store this in "item_similarity_min_ratings"</font>

In [20]:
item_similarity_min_ratings = user_movie.corr(method='pearson', min_periods=100)

# Print the first 5 rows of the resulting matrix
print(item_similarity_min_ratings.head(5))

movie_id  2769   3177   3190   3225   3228   3239   3273   3275   3276   \
movie_id
2769        1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3177        NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3190        NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN    NaN
3225        NaN    NaN    NaN    1.0    NaN    NaN    NaN    NaN    NaN
3228        NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

movie_id  3279   ...  33138  33145  33148  33150  33152  33154  33158  33162  \
movie_id         ...
2769        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3177        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3190        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3225        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3228        NaN  ...    NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN

movie_id  33164  33166
movie_id
2769        NaN    NaN
3177        NaN    NaN
3190        NaN    NaN
3225        NaN    NaN
3228        NaN    NaN

[5 rows x 2049 columns]

<font size="+1" color="red">Replace this cell with your code to find the user ids of two example users: user_id_super (the who liked the three superhero movies), and user_id_drama (the one who liked the three dramas)</font>

In [21]:
user_id_super=user_movie[(user_movie[5349]>=4.5)&(user_movie[3793]>=4.5)&(user_movie[6534]>=4.5)].index[0]

user_id_drama=user_movie[(user_movie[6870]>=4.5)&(user_movie[5995]>=4.5)&(user_movie[3555]>=4.5)].index[0]

print("User id's super:", user_id_super,'\n')
print("User id's drama:", user_id_drama)

User id's super: 5144

User id's drama: 34336

In [22]:
# Leave this code as-is
# Gets a list of watched movies for a user_id
def get_watched_movies(user_id, user_movie):
    return list(user_movie.loc[user_id].dropna().sort_values( ascending=False).index)

# Gets the rating a user_id has given to a movie_id
def get_rating(user_id, movie_id, user_movie):
    return user_movie[movie_id][user_id]

# Print watched movies
def print_watched_movies(user_id, user_movie, movies):
    for movie_id in get_watched_movies(user_id, user_movie):
        print("%d %.1f %s " %
          (movie_id, get_rating(user_id, movie_id, user_movie), get_title(movie_id, movies)))

In [23]:
# LEAVE AS-IS (TESTING CODE)

print_watched_movies(user_id_super, user_movie, movies)

33166 5.0 Crash (2004)
7360 5.0 Dawn of the Dead (2004)
8622 5.0 Fahrenheit 9/11 (2004)
4643 5.0 Planet of the Apes (2001)
3994 5.0 Unbreakable (2000)
4878 5.0 Donnie Darko (2001)
6377 5.0 Finding Nemo (2003)
8327 5.0 Dolls (2002)
7572 5.0 Wit (2001)
6380 5.0 Capturing the Friedmans (2003)
7371 5.0 Dogville (2003)
7361 5.0 Eternal Sunshine of the Spotless Mind (2004)
4226 5.0 Memento (2000)
8638 5.0 Before Sunset (2004)
7153 5.0 Lord of the Rings: The Return of the King, The (2003)
6534 5.0 Hulk (2003)
6620 5.0 American Splendor (2003)
4308 5.0 Moulin Rouge (2001)
7090 5.0 Hero (Ying xiong) (2002)
5669 5.0 Bowling for Columbine (2002)
4370 5.0 A.I. Artificial Intelligence (2001)
6711 5.0 Lost in Translation (2003)
6874 5.0 Kill Bill: Vol. 1 (2003)
6870 5.0 Mystic River (2003)
4993 5.0 Lord of the Rings: The Fellowship of the Ring, The (2001)
4642 5.0 Hedwig and the Angry Inch (2000)
3949 5.0 Requiem for a Dream (2000)
5679 5.0 Ring, The (2002)
5902 5.0 Adaptation (2002)
8949 5.0 Sideways (2004)
27846 5.0 Corporation, The (2003)
3798 5.0 What Lies Beneath (2000)
5952 5.0 Lord of the Rings: The Two Towers, The (2002)
5878 5.0 Talk to Her (Hable con Ella) (2002)
31658 5.0 Howl's Moving Castle (Hauru no ugoku shiro) (2004)
33154 5.0 Enron: The Smartest Guys in the Room (2005)
3897 5.0 Almost Famous (2000)
5349 5.0 Spider-Man (2002)
5617 4.5 Secretary (2002)
5502 4.5 Signs (2002)
6679 4.5 Revolution OS (2001)
6863 4.5 School of Rock (2003)
5388 4.5 Insomnia (2002)
5956 4.5 Gangs of New York (2002)
6502 4.5 28 Days Later (2002)
6323 4.5 Identity (2003)
5989 4.5 Catch Me If You Can (2002)
5991 4.5 Chicago (2002)
4873 4.5 Waking Life (2001)
5066 4.5 Walk to Remember, A (2002)
5992 4.5 Hours, The (2002)
5995 4.5 Pianist, The (2002)
4886 4.5 Monsters, Inc. (2001)
4903 4.5 In the Bedroom (2001)
4973 4.5 Amelie (Fabuleux destin d'AmÃ©lie Poulain, Le) (2001)
6214 4.5 Irreversible (IrrÃ©versible) (2002)
6331 4.5 Spellbound (2002)
6953 4.5 21 Grams (2003)
4641 4.5 Ghost World (2001)
4011 4.5 Snatch (2000)
3481 4.5 High Fidelity (2000)
30803 4.5 3-Iron (Bin-jip) (2004)
3793 4.5 X-Men (2000)
8938 4.5 Tarnation (2003)
8783 4.5 Village, The (2004)
8636 4.5 Spider-Man 2 (2004)
8529 4.5 Terminal, The (2004)
3996 4.5 Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)
5670 4.5 Comedian (2002)
8376 4.5 Napoleon Dynamite (2004)
4306 4.5 Shrek (2001)
4034 4.5 Traffic (2000)
7139 4.5 In America (2002)
7147 4.5 Big Fish (2003)
8970 4.0 Finding Neverland (2004)
30812 4.0 Aviator, The (2004)
5673 4.0 Punch-Drunk Love (2002)
3285 4.0 Beach, The (2000)
5812 4.0 Far from Heaven (2002)
30810 4.0 Life Aquatic with Steve Zissou, The (2004)
5881 4.0 Solaris (2002)
27482 4.0 Cube 2: Hypercube (2002)
5903 4.0 Equilibrium (2002)
27441 4.0 Blood: The Last Vampire (2000)
8981 4.0 Closer (2004)
8961 4.0 Incredibles, The (2004)
5954 4.0 25th Hour (2002)
8464 4.0 Super Size Me (2004)
8957 4.0 Saw (2004)
6591 4.0 Magdalene Sisters, The (2002)
8917 4.0 Team America: World Police (2004)
6934 4.0 Matrix Revolutions, The (2003)
8784 4.0 Garden State (2004)
6291 4.0 Lilya 4-Ever (Lilja 4-ever) (2002)
7160 4.0 Monster (2003)
7438 4.0 Kill Bill: Vol. 2 (2004)
6333 4.0 X2: X-Men United (2003)
8360 4.0 Shrek 2 (2004)
6365 4.0 Matrix Reloaded, The (2003)
8874 4.0 Shaun of the Dead (2004)
5791 4.0 Frida (2002)
4975 4.0 Vanilla Sky (2001)
5446 4.0 Rabbit-Proof Fence (2002)
5618 4.0 Spirited Away (Sen to Chihiro no kamikakushi) (2001)
4235 4.0 Amores Perros (Love's a Bitch) (2000)
4239 4.0 Blow (2001)
5218 4.0 Ice Age (2002)
3967 4.0 Billy Elliot (2000)
3910 4.0 Dancer in the Dark (2000)
4995 4.0 Beautiful Mind, A (2001)
4148 4.0 Hannibal (2001)
4963 4.0 Ocean's Eleven (2001)
4874 4.0 K-PAX (2001)
5528 4.0 One Hour Photo (2002)
3510 4.0 Frequency (2000)
5577 4.0 Igby Goes Down (2002)
4161 3.5 Mexican, The (2001)
4446 3.5 Final Fantasy: The Spirits Within (2001)
4638 3.5 Jurassic Park III (2001)
6770 3.5 My Life Without Me (2003)
7022 3.5 Battle Royale (Batoru rowaiaru) (2000)
6709 3.5 Once Upon a Time in Mexico (2003)
5630 3.5 Red Dragon (2002)
4014 3.5 Chocolat (2000)
4023 3.5 Family Man, The (2000)
4022 3.5 Cast Away (2000)
4734 3.5 Jay and Silent Bob Strike Back (2001)
8530 3.5 Dear Frankie (2004)
3755 3.5 Perfect Storm, The (2000)
8958 3.5 Ray (2004)
3555 3.5 U-571 (2000)
27899 3.5 What the #$*! Do We Know!? (a.k.a. What the Bleep Do We Know!?) (2004)
30707 3.5 Million Dollar Baby (2004)
30793 3.5 Charlie and the Chocolate Factory (2005)
3535 3.5 American Psycho (2000)
3408 3.5 Erin Brockovich (2000)
4720 3.5 Others, The (2001)
3275 3.5 Boondock Saints, The (2000)
5014 3.5 I Am Sam (2001)
5464 3.5 Road to Perdition (2002)
4823 3.5 Serendipity (2001)
5015 3.5 Monster's Ball (2001)
5785 3.5 Jackass: The Movie (2002)
5377 3.5 About a Boy (2002)
4979 3.5 Royal Tenenbaums, The (2001)
5445 3.5 Minority Report (2002)
5505 3.5 Good Girl, The (2002)
5945 3.5 About Schmidt (2002)
7293 3.0 50 First Dates (2004)
7347 3.0 Secret Window (2004)
7373 3.0 Hellboy (2004)
6059 3.0 Recruit, The (2003)
4146 3.0 Million Dollar Hotel, The (2001)
7254 3.0 The Butterfly Effect (2004)
6016 3.0 City of God (Cidade de Deus) (2002)
5266 3.0 Panic Room (2002)
7260 3.0 Latter Days (2003)
7162 3.0 Cold Mountain (2003)
3578 3.0 Gladiator (2000)
4310 3.0 Pearl Harbor (2001)
31685 3.0 Hitch (2005)
3301 3.0 Whole Nine Yards, The (2000)
6373 3.0 Bruce Almighty (2003)
5219 3.0 Resident Evil (2002)
6942 3.0 Love Actually (2003)
6287 3.0 Anger Management (2003)
4238 3.0 Along Came a Spider (2001)
8644 3.0 I, Robot (2004)
27904 2.5 Scanner Darkly, A (2006)
5507 2.5 xXx (2002)
8947 2.5 Grudge, The (2004)
3826 2.5 Hollow Man (2000)
3751 2.5 Chicken Run (2000)
3863 2.5 Cell, The (2000)
27808 2.5 Spanglish (2004)
4776 2.5 Training Day (2001)
5010 2.5 Black Hawk Down (2001)
4865 2.5 From Hell (2001)
7151 2.5 Girl with a Pearl Earring (2003)
3999 2.5 Vertical Limit (2000)
6281 2.5 Phone Booth (2002)
5064 2.5 The Count of Monte Cristo (2002)
7173 2.5 Along Came Polly (2004)
7444 2.5 13 Going on 30 (2004)
4246 2.0 Bridget Jones's Diary (2001)
3717 2.0 Gone in 60 Seconds (2000)
3977 2.0 Charlie's Angels (2000)
3744 2.0 Shaft (2000)
31696 2.0 Constantine (2005)
3752 2.0 Me, Myself & Irene (2000)
4027 2.0 O Brother, Where Art Thou? (2000)
4369 2.0 Fast and the Furious, The (2001)
3825 2.0 Coyote Ugly (2000)
4701 2.0 Rush Hour 2 (2001)
4018 2.0 What Women Want (2000)
8865 2.0 Sky Captain and the World of Tomorrow (2004)
3300 2.0 Pitch Black (2000)
3968 2.0 Bedazzled (2000)
3785 2.0 Scary Movie (2000)
5833 1.5 Dog Soldiers (2002)
5574 1.5 Transporter, The (2002)
4816 1.5 Zoolander (2001)
6157 1.5 Daredevil (2003)
7454 1.5 Van Helsing (2004)
3948 1.5 Meet the Parents (2000)
30825 1.5 Meet the Fockers (2004)
4718 1.0 American Pie 2 (2001)
3991 1.0 102 Dalmatians (2000)
4447 1.0 Legally Blonde (2001)
7318 0.5 Passion of the Christ, The (2004)
5254 0.5 Blade II (2002)
8985 0.5 Blade: Trinity (2004)

In [24]:
# LEAVE AS-IS (TESTING CODE)

print_watched_movies(user_id_drama, user_movie, movies)

3967 5.0 Billy Elliot (2000)
4014 5.0 Chocolat (2000)
4034 5.0 Traffic (2000)
5995 5.0 Pianist, The (2002)
7147 5.0 Big Fish (2003)
4995 5.0 Beautiful Mind, A (2001)
3555 5.0 U-571 (2000)
6870 5.0 Mystic River (2003)
5991 5.0 Chicago (2002)
8464 5.0 Super Size Me (2004)
5669 5.0 Bowling for Columbine (2002)
8622 5.0 Fahrenheit 9/11 (2004)
30707 5.0 Million Dollar Baby (2004)
6953 4.5 21 Grams (2003)
5015 4.5 Monster's Ball (2001)
5464 4.5 Road to Perdition (2002)
3510 4.5 Frequency (2000)
5989 4.5 Catch Me If You Can (2002)
4022 4.0 Cast Away (2000)
5010 4.0 Black Hawk Down (2001)
5299 4.0 My Big Fat Greek Wedding (2002)
3897 4.0 Almost Famous (2000)
3755 4.0 Perfect Storm, The (2000)
4308 4.0 Moulin Rouge (2001)
4447 3.5 Legally Blonde (2001)
4246 3.5 Bridget Jones's Diary (2001)
4975 3.5 Vanilla Sky (2001)
4019 3.5 Finding Forrester (2000)
5377 3.5 About a Boy (2002)
3948 3.5 Meet the Parents (2000)
5956 3.0 Gangs of New York (2002)
6281 3.0 Phone Booth (2002)
7143 3.0 Last Samurai, The (2003)
7458 3.0 Troy (2004)
5349 3.0 Spider-Man (2002)
5902 3.0 Adaptation (2002)
5418 3.0 Bourne Identity, The (2002)
4993 3.0 Lord of the Rings: The Fellowship of the Ring, The (2001)
4310 3.0 Pearl Harbor (2001)
4025 2.5 Miss Congeniality (2000)
3578 2.5 Gladiator (2000)
8644 2.5 I, Robot (2004)
4018 2.5 What Women Want (2000)
5679 2.5 Ring, The (2002)
30825 2.5 Meet the Fockers (2004)
4027 2.5 O Brother, Where Art Thou? (2000)
4776 2.5 Training Day (2001)
4963 2.5 Ocean's Eleven (2001)
7438 2.0 Kill Bill: Vol. 2 (2004)
3916 2.0 Remember the Titans (2000)
8665 2.0 Bourne Supremacy, The (2004)
30793 2.0 Charlie and the Chocolate Factory (2005)
7153 2.0 Lord of the Rings: The Return of the King, The (2003)
6934 1.5 Matrix Revolutions, The (2003)
3752 1.0 Me, Myself & Irene (2000)
8798 1.0 Collateral (2004)

<font size="+1" color="red">Replace this cell with your code for "get_movies_relevance"</font>

In [25]:
def get_movies_relevance(user_id, user_movie, item_similarity_matrix):
    
    # Create an empty series
    movies_relevance = pd.Series()
    
    # Iterate through the movies the user has watched
    for watched_movie in user_movie:
        
        # Obtain the rating given
        rating_given = get_rating(user_id,watched_movie,user_movie)
        
        # Obtain the vector containing the similarities of watched_movie
        # with all other movies in item_similarity_matrix
        similarities = item_similarity_matrix[watched_movie]
        
        # Multiply this vector by the given rating
        weighted_similarities = rating_given*similarities
        
        # Append these terms to movies_relevance
        movies_relevance = pd.concat([movies_relevance, weighted_similarities])
    
    # Compute the sum for each movie
    movies_relevance = movies_relevance.groupby(movies_relevance.index).sum()
    
    # Convert to a dataframe
    movies_relevance_df = pd.DataFrame(movies_relevance, columns=['relevance'])
    movies_relevance_df['movie_id'] = movies_relevance_df.index
    
    return movies_relevance_df

<font size="+1" color="red">Replace this cell with your code to obtain the 5 most relevant movies for the users user_id_super (who likes superhero movies) and user_id_drama (who likes dramas)</font>

In [32]:
print("RELEVANT MOVIES FOR USER_ID_SUPER\n")

relevant_movies_superhero=get_movies_relevance(user_id_super,user_movie,item_similarity)#use the function above
relevant_movies_superhero=relevant_movies_superhero.sort_values(by='relevance',ascending=False)#sort the values by relevance
relevant_movies_superhero['title'] = relevant_movies_superhero['movie_id'].apply(lambda x: get_title(x, movies))#use the function get_title to print the names of the movies
#otherwise we can't do the following exercice

print(relevant_movies_superhero.head())



print("\nRELEVANT MOVIES FOR USER_ID_DRAMA\n")
relevant_movies_drama=get_movies_relevance(user_id_drama,user_movie,item_similarity)#use the function above
relevant_movies_drama=relevant_movies_drama.sort_values(by='relevance',ascending=False)#sort the values by relevance
relevant_movies_drama['title'] = relevant_movies_drama['movie_id'].apply(lambda x: get_title(x, movies))

print(relevant_movies_drama.head())

RELEVANT MOVIES FOR USER_ID_SUPER

       relevance  movie_id                                  title
7443  448.106701      7443         This So-Called Disaster (2003)
6688  433.983302      6688     Autumn Spring (BabÃ­ lÃ©to) (2001)
8895  422.849117      8895                             AKA (2002)
4173  419.304747      4173          When Brendan Met Trudy (2000)
6375  415.161506      6375  Gigantic (A Tale of Two Johns) (2002)

RELEVANT MOVIES FOR USER_ID_DRAMA

        relevance  movie_id                           title
7521   160.000000      7521                    Mercy (2000)
4449   154.388241      4449               Adanggaman (2000)
7443   146.447098      7443  This So-Called Disaster (2003)
31636  135.966211     31636              Bunker, The (2001)
27835  133.500000     27835          Agronomist, The (2003)

<font size="+1" color="red">Replace this cell with a brief commentary on the movies you see on these lists. How many of them look relevant for the intended users? Feel free to use IMDB or Wikipedia to get info on these movies.</font>

<font size="-1" color="gray">All those trivial facts you learned about 1980s and 1990s pop culture were supposed to be useful one day; that day has arrived :-)</font>

<font size="+1" color="blue">On the first matrix, the one for the user taht is a fan of Superheros, I can say that the movies that are the more relevant to him/her are AKA (action and policiac movie), also "When Brendan et Trudy" because its more or less a romantic movie and it also includes a bit of a policiac action due to the protagonist falls in love with a thief.
The other movies are not very relevant because they are  kind of a documental movies that might not be of interest to the super_user</font>

<font size="+1" color="blue">Concerning the second user, fanatic of drama, I'd say that he/she might like Mercy because a movie with a lot of action that sometimes it can also carry something of drama, even if it is not a typical drama movie as Adanggaman, which the user will also like. Finally the user might also enjoy watching The Bunker as it's about soldiers that get locked in a bunker and I imagine there can be some very dramatic scenes, therefore it might be relevant for the user. The other movies are not relevant for him/her. </font>

<font size="+1" color="red">Replace this cell with your code implementing "get_recommended_movies"</font>

In [39]:
def get_recommended_movies(user_id,user_movie, item_similarity,movies):
    
    relevant_movies=get_movies_relevance(user_id,user_movie,item_similarity)#use the function above
    relevant_movies.set_index('movie_id', inplace=True)
    
    list_watched_movies = get_watched_movies(user_id, user_movie)

    relevant_movies = relevant_movies.drop(index=list_watched_movies, errors='ignore')#delete movies that the user has watched
    
    relevant_movies['title'] = relevant_movies.index.map(lambda x: get_title(x, movies))
    relevant_movies_sorted=relevant_movies.sort_values(by='relevance', ascending=False)
    # Step 6: Return the final recommended movies
    return relevant_movies_sorted

<font size="+1" color="red">Replace this cell with your code to obtain the 10 most recommended movies for the users user_id_super and user_id_drama</font>

In [40]:
print("RECOMMENDED MOVIES FOR user_id_super\n")
rec_mov_super=get_recommended_movies(user_id_super,user_movie, item_similarity,movies)
print(rec_mov_super.head(10))

print("\nRECOMMENDED MOVIES FOR user_id_drama\n")
rec_mov_drama=get_recommended_movies(user_id_drama, user_movie ,item_similarity,movies)
print(rec_mov_drama.head(10))

RECOMMENDED MOVIES FOR user_id_super

           relevance                                              title
movie_id
7443      448.106701                     This So-Called Disaster (2003)
6688      433.983302                 Autumn Spring (BabÃ­ lÃ©to) (2001)
8895      422.849117                                         AKA (2002)
4173      419.304747                      When Brendan Met Trudy (2000)
6375      415.161506              Gigantic (A Tale of Two Johns) (2002)
6336      408.500000     Marooned in Iraq (Gomgashtei dar Aragh) (2002)
4150      408.500000                             Signs & Wonders (2001)
5806      394.993866                  Blackboards (TakhtÃ© Siah) (2000)
5575      393.628939  Alias Betty (Betty Fisher et autres histoires)...
5687      391.691250  Take Care of My Cat (Goyangileul butaghae) (2001)

RECOMMENDED MOVIES FOR user_id_drama

           relevance                                            title
movie_id
7521      160.000000                                     Mercy (2000)
4449      154.388241                                Adanggaman (2000)
7443      146.447098                   This So-Called Disaster (2003)
31636     135.966211                               Bunker, The (2001)
27835     133.500000                           Agronomist, The (2003)
5806      132.174524                Blackboards (TakhtÃ© Siah) (2000)
6688      131.791755               Autumn Spring (BabÃ­ lÃ©to) (2001)
4150      130.500000                           Signs & Wonders (2001)
6336      130.500000   Marooned in Iraq (Gomgashtei dar Aragh) (2002)
6544      130.122867  Housekeeper, The (femme de mÃ©nage, Une) (2002)

<font size="+1" color="red">Replace this cell with a brief commentary on these recommendations. Do you think they are relevant? Why or why not? After removing the movies the user has already watched, are the relevance scores of the remaining items comparable to the previous lists that contained all relevant movies?</font>

<font size="+1" color="blue">After analysing both lists, I can observe that the order of relevance and recommendations movies are the same. This could be due to that the movies that are more relevant means that are ones that should be recommended the most. However, I don't think that this last list is very relevant due to that we've seen that the movies that should be recommended should agree on the interests of the user regarding genres and plot.The relevance scores are not comparable as the higher scores usually are the ones that the user has seen, therefore those are the ones that we've dropped.</font>

<font size="+2" color="#003300">I hereby declare that, except for the code provided by the course instructors, all of my code, report, and figures were produced by myself.</font>